<Confiure>
"-cmd" "Vconfig" ""
"-pr" "High" "ComboBox Low, Normal, Medium, Accurate, High"
"-ispin" "2" "ComboBox 1,2"
"-SYMPREC" "Default" "ComboBox Default,1.e-12"
"-ISMEAR" "-5" "ComboBox 1,-5"
"-ENCUT" "Default" ""
"-k" "8" "ComboBox 4,8,12,16,24,32"
"-s0" "norelax" "ComboBox fullrelax, norelax, iononly, shapeonly, volumeonly, ion_shape, volume_shape"
"-kt" "M" "ComboBox M,G"
"-POT" "GGA_PAW_PBE" "ComboBox GGA, LDA, GGA_PAW, LDA_PAW, GGA_PAW_PBE"
"-vfix" "T" "CheckBox"
"-ll" "0.94 1.075 0.015" ""
"-renew_all" "T" "CheckBox"
"-extrafile" "                 " ""
"-atom" "Ni_pv" ""
"-cstn" "Default" "ComboBox Default,-a,-b,-c"
</Confiure>

<jrun ...>
"-cmd" "jrun" ""
"-node" "1" "ComboBox 1,2,4,8,16"
"-ppn" "1" "ComboBox 1,2"
"-JN" "Default" ""
"-Q" "cyberstar" "Dynamic local_pbs_queue"
"-W" "03:00" "ComboBox 00:05,00:15,00:30,03:00,06:00,12:00,24:00,48:00,96:00"
</jrun ...>

<crun ...>
"-cmd" "crun" ""
"-node" "1" "ComboBox 1,2,4,8,16"
"-ppn" "1" "ComboBox 1,2"
"-JN" "Default" ""
"-Q" "cyberstar" "Dynamic local_pbs_queue"
"-W" "03:00" "ComboBox 00:05,00:15,00:30,03:00,06:00,12:00,24:00,48:00,96:00"
</crun ...>

<jrunE ...>
"-cmd" "jrunE" ""
"-node" "1" "ComboBox 1,2,4,8,16"
"-ppn" "1" "ComboBox 1,2"
"-JN" "Default" ""
"-Q" "cyberstar" "Dynamic local_pbs_queue"
"-W" "00:30" "ComboBox 00:05,00:15,00:30,03:00,06:00,12:00,24:00,48:00,96:00"
</jrunE ...>

<PreprNavyPOSCAR>
"-cmd" "FetchNAVY" ""
"-pcmd" "FetchNAVY /DATABASE/NAVY/          " ""
</PreprNavyPOSCAR>

<PreprWxdragon>
"-cmd" "wxdragon" ""
"-pcmd" "POSCAR                  " ""
</PreprWxdragon>

<PreprJmol>
"-cmd" "jmol" ""
"-pcmd" "                        " ""
</PreprJmol>

<PreprXMLdatabase>
"-cmd" "FetchNAVY" ""
"-pcmd" "FetchNAVY /DATABASE/NAVY/          " ""
</PreprXMLdatabase>

<PostpTake midway results>
"-cmd" "cbak" ""
</PostpTake midway results>

<PostpSave Halfling results>
"-cmd" "scmd" ""
"-pcmd" "L-1" ""
</PostpSave Halfling results>

<PostpEcmd>
"-cmd" "ecmd" " "
"-natom" "Default" ""
"-xlat" "lat" "ComboBox lat,volume"
"-mag" "F" "CheckBox"
"-POSCAR" "CONTCAR" ""
"-OSZICAR" "OSZICAR" ""
"-unit" "eV" "ComboBox eV,Rydberg"
"-fF" "-Morse" "ComboBox -Morse, -BMlat, -BMvol"
"-weight" "F" "CheckBox"
"-pcmd" "-plot -calmin" ""
</PostpEcmd>

<PostpGnuplot>
"-cmdr" "gnuplot" ""
"-pcmd" "                        " ""
</PostpGnuplot>

